.A {
    margin-top: 75px;
}

input {
    width: 250px;
    border-radius: 10px;
}

.Submit_btn {
	color: White;
	background-color: Navy;
	font-size: large;
	height: 35px;
	border-radius: 10px;
	width: 95px;
}

#image {
    border-radius: 10px;
}